body{
    font-family: 'Roboto Flex', sans-serif;
}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
}
.topnav a p{
    margin-top: 30px;
    margin-bottom: 35px;
}
.navselect{
    background-color: #ddd;
    color: rgb(255, 255, 255);
}
.navleft{
    float: right;
}
.ofm{
    font-size: 30px;
    text-align: center;
}
.store{
    padding: 0px 180px;
}
.last{
    padding-top: 3cm;
    font-size: 17px;
    text-align: left;
}
.last p{
    margin-left: 60px;
}
.last a{
    color: #000000;
    text-decoration: none;
}